<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iAndroid.owlFree"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/icon2"
        android:label="@string/app_name" >
        <activity android:label="@string/app_name" android:name=".OpenScreen" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
       <activity android:label="@string/app_name" android:name=".NewOrExistProfile" >
            <intent-filter >
                <action android:name="iAndroid.owlFree.NEWOREXISTPROFILE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
            
        <activity android:label="@string/app_name" android:name=".owlFree" >
            <intent-filter >
                <action android:name="iAndroid.owlFree.OWLFREE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity  android:label="@string/app_name" android:name=".AddDrinkScreen" >
            <intent-filter >
                <action android:name="iAndroid.owlFree.ADDDRINKSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity  android:label="@string/app_name" android:name=".AddDrinksToDBase" >
            <intent-filter >
                <action android:name="iAndroid.owlFree.ADDDRINKSTODBASE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity  android:label="@string/app_name" android:name=".DrinkView" >
            <intent-filter >
                <action android:name="iAndroid.owlFree.DRINKVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>    
        
        <activity  android:label="@string/app_name" android:name=".ProfileView" >
            <intent-filter >
                <action android:name="iAndroid.owlFree.PROFILEVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
        
        <activity  android:label="@string/app_name" android:name=".EditProfileDB" >
            <intent-filter >
                <action android:name="iAndroid.owlFree.EDITPROFILEDB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
        
            
        <activity  android:label="@string/app_name" android:name=".ExsitProfileChoose" >
            <intent-filter >
                <action android:name="iAndroid.owlFree.EXSITPROFILECHOOSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
        
                
    </application>

</manifest>